@model Capstone.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<dt class="col-sm-2">
    @if (Model.GameImage != null)
    {
        var base64 = Convert.ToBase64String(Model.GameImage);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


        <img class="userImg" style="width:250px" src="@imgSrc" />
    }
</dt>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsrbRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsrbRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlToPurchase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlToPurchase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HavePlayed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HavePlayed)
        </dd>
    </dl>
</div>
<div>
    <div class="form-group">
        <a class="btn btn-primary"
           asp-controller="UserLists" asp-action="Create" asp-route-id="@Model.GameId">
            Add to List

        </a>
        <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
