@model IEnumerable<Capstone.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Games</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <input type="text" name="searchQuery" />
    @Html.DropDownList("gameGenre", null, "--Genre--")
    @Html.DropDownList("gamePlatform", null, "--Platform--")
    @Html.DropDownList("gamePlayers", null, "--Number Of Players--")
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPlayers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (item.GameImage != null)
            {
                <td>
                    <img src="data:image;base64,@System.Convert.ToBase64String(item.GameImage)" width="100" height="80" />

                </td>}
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlayers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>